{# src/OC/PlatformBundle/Resources/views/Advert/contact.html.twig #}

{% extends 'OCPlatformBundle::layout.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    {{ parent() }}

    <h3>Page de contact de notre site</h3>

{% endblock %}

