{% extends "OCCoreBundle::layout.html.twig" %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <div class="well">
        <div class="form-group">
            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Login : </label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" aria-describedby="login" placeholder="Login"/>
                <br/>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control" aria-describedby="password" placeholder="Password" />
                <br/>
                <button type="submit" class="btn btn-primary" value="Connexion">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}